/* General styles */

* {
    font-family: 'Raleway', Arial;
}

h1, h2, h3, h4, h5 {
    font-family: 'Raleway', Arial;
}

a {
    color: #DB6151;
    text-decoration: none;
}


/* General layout */

html, body, body > div.ng-scope {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}
.wrapper-menu {
    order: 1;
}

.wrapper-page {
    flex: 1;
    order: 2;
    display: flex;
}

.container {
    flex: 1;
}

.container h1 {
    margin: 0;
}

.container h3 {
    margin: 0 0 20px 0;
}


/* Partials - menu */

.menu {
    display: table;
    table-layout: fixed;
    border-width: 2px 0px 2px 0px;
    border-style: solid;
    border-color: #DB6151;
    width: 100%;
}

.menu-logo {
    display: table-cell;
}

.menu-item {
    display: table-cell;
    font-size: 24px;
    text-align: center;
}

.menu-item a {
    display: block;
}

.menu-item:hover, .menu-item:hover a {
    color: white;
    background-color: #DB6151;
}

.menu .fa {
    display: none;
}

@media all and (max-width: 1034px) {

    .menu-item {
        padding: 4px;
    }

    .menu .text {
        display: none;
    }

    .menu .fa {
        display: inline;
        padding-top: 10px;
    }

}


/* Templates - swipe */

.container .loader {
    text-align: center;
    margin-top: 16px;
}

.container .loader-anim {
    border: 2px solid;
    border-color: transparent #FF8271 #FF8271 #FF8271;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-left: 24px;
    animation: single-arc-rotate 1s infinite linear;
    animation-name: single-arc-rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: initial;
    animation-iteration-count: infinite;
    animation-direction: initial;
    animation-fill-mode: initial;
    animation-play-state: initial;
}

@keyframes single-arc-rotate {
  100% {
        transform: rotate(360deg);
  }
}


/* Templates - swipe & profile */

.responsive-profile {
    display: flex;
    flex-flow: row;
}

@media all and (max-width: 1034px) {

    .responsive-profile {
        flex-flow: column;
    }

}

.main-photo-container {
    flex: 0 0 640px;
    order: 1;
    margin: 16px;
    position: relative;
}

.main-photo-container img {
    max-width: 640px;
}

.main-photo {
    text-align: center;
    width: 640px;
    height: 640px;
    border-radius: 10px;
    background: #FFF top left / contain no-repeat;
    z-index: 1000;
    position: absolute;
}


/* Templates - swipe */

.main-photo .pass-overlay {
    color: white;
    position: relative;
    top: 0;
    background: #FF2400;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo .like-overlay {
    color: white;
    position: relative;
    top: -100%;
    background: #2CA624;
    height: 100%;
    width: 100%;
    opacity: 0;
    font-size: 10em;
    line-height: 200%;
}

.main-photo .like-overlay:hover,
.main-photo .pass-overlay:hover{
    cursor: -webkit-grab;
}


/* Templates - swipe & profile */

.profile {
    flex: auto;
    order: 2;
    margin: 16px;
}

@media all and (max-width: 1034px) {
    .profile, .main-photo-container {
        order: 0;
    }

    .profile {
        margin-top: 0px;
    }
}

.information {
}

.name {
    text-align: center;
}

.status {
    text-align: center;
}

.schoolwork {
    display: block;
    text-align: center;
}

.school, .work {
    display: block;
    margin-top: 4px;
}

.bio {
    text-align: center;
    white-space: pre-wrap;
}

.bio.edit {
    width: 100%;
}

.editbutton {
  text-align: right;
}

.small-photos div {
    display: inline-block;
}

.small-photos {
    margin: auto;
    text-align: center;
}

@media all and (max-width: 1034px) {

    .small-photos {
        max-width: 448px;
    }

}

.small-photos img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid #DDD;
    margin: 8px;
}
.small-photos img:hover {
    border: 5px solid #BBB;
}

.small-photos img.selected {
    border: 5px solid #DB6151;
}


/* Templates - login */

.fb-login {
    color: #404040;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background-color: #4D4D4D;
    text-align: center;
}

.login-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.login-container .icon {
    padding-bottom: 30px;
}

#sign_in {
    background: url('../img/login-sprite.png') no-repeat 0 0;
    width: 340px;
    height: 72px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}
#sign_in:hover {
    background-position-y: -72px;
}
#sign_in:active {
    background-position-y: -144px;
}


/* Templates - messages - match-list */

#match-list {
    flex: 0 0 190px;
    display: flex;
    flex-direction: column;
}

#match-list.more-info {
    flex: 0 0 265px;
}

.match-header {
    flex: 0 0 40px;
    border-bottom: 1px solid #DB6151;
    border-right: 1px solid #DB6151;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollable-matchlist {
    flex: 1;
    overflow-y: scroll;
    border-right: 1px solid #DDD;
}

.match {
    display: block;
    border-bottom: 1px solid #DDD;
    padding: 8px;
    height: 42px; /* Thumbnail size: 84px */
    cursor: pointer;
    color: inherit;
}
.match:hover {
    background-color: #F7F7F7;
}
.match.selected {
    background-color: #F1F1F1;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.match .thumbnail {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    float: left;
    height: 42px;
    width: 42px;
}

.match .name {
    margin: 0;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: .5em;
}

.match .info {
    margin: 0;
    padding-top: 5px;
    text-align: center;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13px;
}

.match.more-info {
    padding: 5px;
}

.info .last-them {
    color: #007A00;
}

.info .last-me-rest {
    color: #0000CC;
}

.info .last-me-pass {
    color: #CC00CC;
}

.match.more-info .name {
    line-height: 22px;
}

/* Templates - messages - conversation */
/* from http://codepen.io/samuelkraft/pen/Farhl */ /* Put this credits in an external file? */

#conversation {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.1em;
    line-height: 20px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.message-header {
    order: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid #DB6151;
    flex: 0 0 40px;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.chat-with {
    flex: 1;
}

.match-options a {
    border-left: 2px solid #DB6151;
    border-collapse: collapse;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
    flex: 1;
}
.match-options a:first-child {
    border-left: 0px
}
.match-options a:last-child {
    padding-right: 0px
}

.messages-list-container {
    order: 2;
    overflow: auto;
    flex: 1;
}
#conversation .messages-list-empty {
    padding: 14px;
    overflow: hidden;
}
#conversation .messages-list {
    padding: 14px;
    overflow: hidden;
}

#conversation div.from-me,
#conversation div.from-them {
    max-width: 51%;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.from-me {
    cursor: pointer;
    position: relative;
    padding: 10px 15px;
    color: white;
    background: #0B93F6;
    border-radius: 25px;
    float: right;
    z-index: 10;
}
.from-me:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -2px;
    right: -7px;
    height: 20px;
    border-right: 20px solid #0B93F6;
    border-bottom-left-radius: 16px 14px;
    transform: translate(0, -2px);
}
.from-me:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -2px;
    right: -56px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
    transform: translate(-30px, -2px);
}

.from-them {
    cursor: pointer;
    position: relative;
    z-index: 10;
    padding: 10px 15px;
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left;
}
.from-them:before {
    content: "";
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: -7px;
    height: 20px;
    border-left: 20px solid #E5E5EA;
    border-bottom-right-radius: 16px 14px;
    transform: translate(0, -2px);
}
.from-them:after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -2px;
    left: 4px;
    width: 26px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
    transform: translate(-30px, -2px);
}

.sentAt {
    position: absolute;
    z-index: 9;
    opacity: 0;
    color: #555;
    min-width: 160px;
}

.from-them-date {
    right: -110px;
    position: absolute;
    z-index: 9;
    opacity: 0;
    color: #555;
    min-width: 150px;
}

.from-them-date.bounceIn {
    transition: all .2s;
    opacity: 1;
    transform: translateX(55px);
}

.from-them-date.bounceOut {
    transition: all .2s;
    opacity: 0;
    transform: translateX(-55px);
}

.from-me-date {
    left: -110px;
    /*right: 0;*/
    left: -100px;
}

.from-me-date.bounceIn {
    transition: all .2s;
    opacity: 1;
    transform: translateX(-55px);
}

.from-me-date.bounceOut {
    transition: all .2s;
    opacity: 0;
    transform: translateX(55px);
}

.messages-in-chat {
    clear: both;
}

.pending-message {
    color: #DAE3EA;
}

.messages-textarea {
    order: 3;
}

#conversation textarea {
    font-size: 1em;
    outline: none;
    border: solid #CCC;
    border-width: 1px 0 0 0;
    border-radius: 0;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
    display: block;
}


/* Templates - settings & discovery */

.settings {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.settings fieldset {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50px;
    background-color: #FAFAFA;
    padding: 10px;
    position: relative;
    width:400px;
}

.settings legend {
    padding-left: 4px;
    padding-right: 4px;
}


/* Templates - discovery */

section.range-slider {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 21px;
    display: inline-block;
}

section.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 200px;
    outline: none;
    height: 21px;
}

section.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

section.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    background: linear-gradient(to bottom, #ededed 0%, #dedede 100%);
    width: 11px;
}

section.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, .15);
    border: 0;
}

section.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

ul.from-to {
    display: block;
    list-style-type: none;
    margin-top: 10px;
    font-family: Arial, Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

ul.from-to li {
    margin-bottom: 1px;
}

ul.from-to li label {
    background-color: rgba(0, 0, 0, .1);
    height: 24px;
    line-height: 24px;
    display: inline-block;
    width: 60px;
    padding: 0 10px;
    float: left;
    font-size: 9px;
    color: rgba(0, 0, 0, .25);
    text-transform: uppercase;
}

ul.from-to li input {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: 0 8px;
    height: 24px;
    line-height: 24px;
    outline: none;
}


/* Templates - settings */

#autocompleteLocation {
    margin-bottom: 20px;
}
