<div class="menu" ng-controller="MenuController">
  <!---
    <div class="menu-logo">
      <a href="">
    	[Place holder for branding]
      </a>
    </div>
    --->
  <div class="menu-item">
    <a href="#/swipe">
    <span class="fa fa-heart fa-lg"></span><span class="text">SWIPE</span>
    </a>
  </div>
  <div class="menu-item">
    <a ng-href="#/messages">
    <span class="fa fa-envelope fa-lg"></span><span class="text">MESSAGES</span>
    </a>
  </div>
  <div class="menu-item">
    <a ng-href="#/profile/{{getCookie('userId')}}">
    <span class="fa fa-picture-o fa-lg"></span><span class="text">PROFILE</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="#/discovery">
    <span class="fa fa-binoculars fa-lg"></span><span class="text">DISCOVERY</span>
    </a>
  </div>
  <div class="menu-item">
    <a href="#/settings">
    <span class="fa fa-cog fa-lg"></span><span class="text">SETTINGS</span>
    </a>
  </div>
</div>
